.form-confirmation-image {
    height: 75%;
}

.form-confirmation-content {
    color: #FFFFFF;
    text-align: center;
    padding: 24px;

    p {
        padding-top: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }
}